*.pth
models_saved
experiments_logdir
**/__pycache__
wandb/*
logs/*
visualization/output/*
# visualization/test_data/*
*.png
*.jpg
*.pth
*.pt
*.safetensors
*.png
*.jpg
*.jepg
*.pyc
*.cpy
*.cpython
__pycache__
*.npy
*.npz
outputs
*.json
logs
*.zip
*.tar

